* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  background-color: $background;
}

.headline {
  padding-top: 24px;
  text-align: left;

  h3 {
    display: inline-block;
  }
}

.icon {
  margin-right: 8px;
}
