* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #fff;
  background-color: $background;
  overflow: hidden;
}

.icon {
  margin-right: 8px;
}

.area {
  margin: 16px 0;

  .headline {
    text-align: left;
  }
  
  h3.title {
    display: inline-block;
    font-size: 20px;
  }

  .content {
    margin-top: 8px;
  }
}